@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/
:root{
    --primary-font: "Raleway", sans-serif;
    --secondary-font: "Archivo Black", sans-serif;
}

/* Global styles */

body {
    font-family: var(--primary-font);
    

}
h1, h2, h3{
    font-family: var(--secondary-font);
}
#home .col-lg-5 img {
    margin-top: 50px; /* Flyttar ner bilden */
}


#navbar {
    font-family: 'Archivo Black', sans-serif;
}



/* Grundinställning för mobilen (bild över text) */
#about{
    text-align: center;
    
}
.about-container {
    display: flex;
    flex-direction: column; /* Kolumnlayout för mobiler */
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* Bildstil */
.aboutmeimage img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px; /* Avstånd mellan bild och text på mobil */
}

/* Textstil */
.aboutme {
    max-width: 600px;
    text-align: center;
}

/* courses */

/* Styling for square cards */


/* Ikoner och text inom kortet */
.card i {
    font-size: 1.8rem; /* Anpassad ikonstorlek */
    margin-bottom: 6px;
    color: #007bff;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 4px;
}











footer a {
    text-decoration: none; /* Tar bort understrykning */
    color: black; /* Ändrar färgen från blå till svart */
    padding: 0 20px; /* Ger lite mellanrum mellan länkarna */
    
}

footer a:hover {
    color: #58a0ee; /* Valfri hover-effekt (Bootstrap-blå) */
}

/* Media Query för dator (min-width 768px) */
@media (min-width: 768px) {
    #about{
        padding-top: 60px;
    }
    #about h1{
        padding-bottom: 20px;
        font-size: 3rem;
    }
    .about-container {
        flex-direction: row; /* Placera bild och text bredvid varandra */
        align-items: center;
        text-align: left; /* Vänsterjustera text */
        max-width: 800px; /* Anpassa maxbredd */
        margin: 0 auto;
    }

    .aboutmeimage {
        margin-right: 80px; /* Lägg till mellanrum mellan bild och text */
    }
    .aboutmeimage img {
        width: 300px;
        height: 400px;
    }
    .aboutme {
        text-align: left; /* Säkerställ att texten justeras åt vänster */
        max-width: 500px;
       
    }
}